name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    
    - name: Setup maven
      uses: s4u/setup-maven-action@v1.2.1
      with:
        java-version: 8
        
    - name: Build maven
      run: mvn verify
    
    - uses: actions/checkout@v2
    - name: Docker login
      env:
        DOCKER_USER: ${{secrets.DOCKER_USER}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: 
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        
    - name: Build the Docker image
      run: docker build -t simplewebservice .
      
    - name: Tag Docker image
      run: docker tag simplewebservice ${{secrets.DOCKER_USER}}/simplewebservice
      
    - name: Docker Push
      run: docker push ${{secrets.DOCKER_USER}}/simplewebservice
