name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Setup JDK
      uses: actions/setup-java@v1
      with:
        java-version: 16
        
    - name: Checkout
      uses: actions/checkout@v2
        
    - name: Build maven
      run: mvn clean package
  
    - name: Docker login
      env:
        DOCKER_USER: ${{secrets.DOCKER_USER}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: 
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        
    - name: Docker build
      run: docker build . --file Dockerfile --tag ${{secrets.DOCKER_USER}}/simplewebservicev1
      
    - name: Docker push
      run: docker push ${{secrets.DOCKER_USER}}/simplewebservicev1
